<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/R/SW1_Project/assets/css/master.css">
    <title>Double slider login and sign up</title>
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css">
</head>
<body>
    <div class="container" id="container">
         <div class="form-container signup-container">
            <form action="#">
                <h1>Sign Up Here.</h1>
                <input type="text" placeholder="First name" required>
                <input type="text" placeholder="last name" required>
                <input type="tel" placeholder="Phone number">
                <input type="text" placeholder="Username"required>
                <input type="email" placeholder="Email" required> 
                <input type="password" placeholder="Password" required>
                <button type="submit">Sign Up</button>
               <!---- <span>or use your account</span>
                <div class="social-container">
                <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a>
                <a href="#" class="social"><i class="lni lni-google"></i></a>
                <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a>
                
                </div> -->
            </form>
         </div>
         <div class="form-container login-container">
            <form action="#">
                <h1>Login Here</h1>
                <input type="text" placeholder="Username"required>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password"required>

               <!----<div class="content">
                    <div class="checkbox">
                      <input type="checkbox" name="checkbox" id="checkbox">
                      <label >Remember me</label>
                    </div>
                    <div class="pass-link">
                        <a href="#">Forgot password</a>
                    </div>
                </div>  -->
                <button type="submit">Login</button>
                <!---<span>or use your account</span>
                <div class="social-container">
                <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a>
                <a href="#" class="social"><i class="lni lni-google"></i></a>
                <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a>
                

                </div> --->
            </form>
         </div>

         <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="title">Hello <br> Freelancer</h1>
                    <p>if you have an account,login here and start working!</p>
                    <button class="ghost" id="login">Login
                        <i class="lni lni-arrow-left login"></i>
                    </button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="title">Start your <br> Career now!</h1>
                    <p>if you don't have an account yet,join us and start working from any place around the world.</p>
                    <button class="ghost" id="signup">Sign Up
                        <i class="lni lni-arrow-right signup"></i>
                    </button>
                </div>
            </div>

         </div>

    </div>
    <script src="/Users/R/SW1_project/assets/js/script.js"></script>
</body>
</html>